body{
    background-color: #FFFFFF;
}
body .login{
    background-color: #09F4D0;
    height: 565px;
}

.content {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px !important;
    border: 1px solid black;
    background-color: white;
}

h1 {
    margin-top: 30px;
    font-family: Comic Sans MS cursive;
   
    margin-left: 420px
}

h6 {
    margin-top: 30px;
    font-family: Comic Sans MS cursive;
    font-size: 40px;
    margin-left: 550px;
}
.tit {
    font-size: 30px;
    font-weight: bold;
    
    padding: 20px;
    font-family: Comic Sans MS cursive;
}

.content table,
th,
td {
    border: 1px solid black;
    margin-left: 300px;
}

.content table {
    margin-left: 170px;
    margin-top: 30px;
}

.info {
    text-align: justify;
    padding: 10px;
}

.content table td th,
table td,
table {
    border: 1px solid black;
}

a {
    list-style-type: none;
    color: rgb(66, 126, 150);
    margin-left: 10px;
    text-decoration: none;
    padding-right: 5px !important;
}

.content button {
    margin-left: 780px;
    margin-top: 10px;
    height: 35px;
    width: 70px;
    margin-bottom: 30px
}

.content input {
    margin-left: 350px;
    height: 30px;
    width: 310px;
}
.login {

margin:auto;

padding:10px;
}

.login input {
padding:5px;
margin:5px;
}
.box{
    margin-left: 550px;
}

//

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
