body{
    background-color: #FFFFFF;
}
body .login{
    background-color: #09F4D0;
    height: 565px;
}

.content {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px !important;
    border: 1px solid black;
    background-color: white;
}

h1 {
    margin-top: 30px;
    font-family: Comic Sans MS cursive;
    width: 500px;
}

h6 {
    margin-top: 30px;
    font-family: Comic Sans MS cursive;
    font-size: 40px;
    margin-left: 550px;
}
.tit {
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    padding: 20px;
}

.content table,
th,
td {
    border: 1px solid black;
}

.content table {
    margin-left: 170px;
    margin-top: 30px;
}

.info {
    text-align: justify;
    padding: 10px;
}

.content table td th,
table td,
table {
    border: 1px solid black;
}

a {
    list-style-type: none;
    color: rgb(66, 126, 150);
    margin-left: 10px;
    text-decoration: none;
    padding-right: 5px !important;
}

.content button {
    margin-left: 780px;
    margin-top: 10px;
    height: 35px;
    width: 70px;
    margin-bottom: 30px
}

.content input {
    margin-left: 350px;
    height: 30px;
    width: 310px;
}
.login {

margin:auto;

padding:10px;
}

.login input {
padding:5px;
margin:5px;
}
.box{
    margin-left: 550px;
}